modules = ["python-3.12"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "imagemagickBig", "libxcrypt", "xcodebuild", "zlib"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
build = ["sh", "-c", "pip install -r requirements.txt"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
